* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-logo {
  max-width: 256px;
  margin-bottom: 26px;
}

.app-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.app {
  text-align: center;
  max-width: 512px;
  padding: 26px;
  background: #fff;
  border-radius: 13px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.data-history-box {
  width: 250px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.data-history-box h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-align: center;
}

.data-history-box ul {
  list-style-type: none;
  padding: 0;
}

.data-history-box li {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.network-section {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  margin: 26px 0;
}

.network-select,
.network-to {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.network-select label,
.network-to label {
  font-size: 1.4rem;
  margin-bottom: 6px;
}

.network-select select {
  font-size: 1.4rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 192px;
}

.network-to-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.network-to-text.sepolia {
  color: #6a0dad;
}

.network-to-text.basesepolia {
  color: #007bff;
}

.primary-button,
.secondary-button {
  width: 100%;
  padding: 15px;
  margin-top: 13px;
  border: none;
  border-radius: 6px;
  font-size: 1.28rem;
  cursor: pointer;
}

.primary-button {
  background-color: #4caf50;
  color: white;
}

.secondary-button {
  background-color: #007bff;
  color: white;
}

.primary-button:hover,
.secondary-button:hover {
  opacity: 0.9;
}

.wallet-info,
.transaction-info {
  margin-top: 19px;
  color: #333;
  font-size: 1.15rem;
}


.data-history-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-height: 300px;
  overflow-y: auto;
}

.data-history-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.data-history-list li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.data-history-list li:last-child {
  border-bottom: none;
}
